<p>landing works!</p>
<a routerLink="child">
  Child
</a>
<a routerLink="test">
test</a>

<div>{{message}}</div>
<button (click)="newMessage()">Change</button>
<hr />
<h1>TODO LIST:</h1>
<div *ngFor="let todos of todoListData; let i = index">
  <div style="display: flex; flex-direction:row">
  <li>
    ({{ i }}) - {{ todos.name}} - {{ todos.status }}
  </li>
  <button (click)="handleToggleEdit(todos.name)">Edit</button>
  <button (click)="handleDelete(todos.name)">Delete</button>
  </div>
  <div *ngIf="todos.showEdit">
    <button (click)="handleIncompleteClick(todos.name)">Incomplete</button>
    <button (click)="handleInProgressClick(todos.name)">In Progress</button>
    <button (click)="handleCompletedClick(todos.name)">Completed</button>
  </div>
</div>
